@model IEnumerable<MIMCalendar.Models.MG.Unit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_eng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_ukr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_rus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_eng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_ukr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_rus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
